.row{
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
.main-box
{
    height: 95vh;
    margin-top:20px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
}
.block2
{
    font-family: 'Balsamiq Sans', cursive;
    background-color:#030536;
}
.edu-block
{
    width:100%;
    background-color: peru;
}

ul li{
    list-style: none; margin-bottom: 25px; color: #fff;
}

.def
{
    color: #c2bef7;font-size:15px;
}